<article class="project-entry card mb-3">
  <!-- 상단: 이미지 + 정보 -->
  <div class="top-section d-flex flex-row flex-wrap align-items-stretch">
    <div class="project-card d-flex flex-row flex-grow-1 align-items-center">
      <div class="project-img-wrapper">
        <img alt="{{ item.title }}" class="project-img" src="{{ item.image }}"/>
      </div>

      <div class="project-meta d-flex flex-column" style="flex: 1 1 auto;">
        <!-- 프로젝트 제목 + 개요 -->
        <div class="d-flex justify-content-between align-items-end">
          <div class="d-flex">
            <!--프로젝트 제목-->
            <h5 class="me-2">{{ item.title }}</h5>
            <!-- 프로젝트 진행 날짜 -->
            <span class="project-info text-muted small ">{{ item.started }} ~ {{ item.ended }}</span>
          </div>

          <button class="toggle-button" onclick="toggleDetails(this)">
            <i class="fas fa-chevron-down"></i>
          </button>
        </div>

        <p class="project-overview" style="font-size:0.875rem"> {{ item.overview }} </p>

        <div class="project-links d-flex align-items-center justify-content-between">
          <!-- 왼쪽: 링크 아이콘들 -->
          <div class="d-flex align-items-center">
            {% if item.repo %}
            <a class="d-flex align-items-center me-2" href="{{ item.repo }}" target="_blank" title="View Repository">
              <i class="fab fa-github me-1"></i>
              <span class="project-info small">{{ item.repo | replace: "https://github.com/", "" }}</span>
            </a>
            {% endif %}

            {% if item.link %}
            <a class="d-flex align-items-center me-2" href="{{ item.link }}" target="_blank" title="View Site">
              <i class="fas fa-globe me-1"></i>
              <span
                class="project-info small">{{ item.link | replace: "https://", "" | replace: "http://", "" }}
              </span>
            </a>
            {% endif %}
          </div>

          <!-- 오른쪽: 기술 스택 아이콘 -->
          {% if item.techs %}
          <div class="d-flex align-items-center">
            {% for tech in item.techs %}
            <img
              alt="{{ tech }}"
              class="tech-icon"
              src="/assets/img/techicons/{{ tech }}.png"
              style="margin-right: 5px;"
              title="{{ tech }}"
            />
            {% endfor %}
          </div>
          {% endif %}
        </div>

      </div>
    </div>
  </div>

  <!-- 구분선 + 설명 -->
  <div class="details-wrapper">
    <hr style="margin: 0; padding: 0; width: 100%;"/>
    <div class="project-details">
      {{ post.content | markdownify }}
    </div>
  </div>
</article>
