@use '../abstracts/variables' as v;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/placeholders';

.project-entry {
  background-color: #1a1a1a;
  border: 1px solid #444;
  border-radius: 0.75rem;
  min-height: 100px;
}

.project-img-wrapper {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 1rem;
  margin-right: 1rem;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: #eee;
}

.project-overview {
  font-size: 1rem;
  color: #bbb;
}

.project-links a {
  color: #bbb;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.project-links a:hover {
  color: #fff;
}

.project-info {
  display: none;

  @include bp.md() {
    display: flex;
  }
}

.toggle-button {
  background: none;
  border: none;
  color: #ccc;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle-button:hover {
  color: #fff;
}

.toggle-button i {
  transition: transform 0.3s ease;
}

.toggle-button.open i {
  transform: rotate(90deg);
}

.details-wrapper {
  overflow: hidden;
  transition: height 0.3s ease;
  height: 0;
}

.project-details {
  width: 100%;
  color: #ccc;
  padding: 1rem;
}

.project-card {
  padding: 1rem;
}


.tech-icon {
  width: 22px;
  height: 22px;
}

.tech-icon:hover {
  opacity: 1;
  transform: scale(1.1);
}

